
/* {
    border: 2px solid red;
  }


/* border-box makes the height and width include the padding and border. However, 
   the default normally is content-box, meaning that the heoght and width will only 
   be the content part of any box */

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: "Source Serif Pro"
}
/* Upper Section*/

.nav-bar{
    text-align: center;
    border: solid white;
    box-shadow: 0px 5px 10px grey;
}

.logo{
    width: 400px;
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;

}

.nav-bar .navigation .nav-link{
    color: inherit;
    text-decoration: none;
}    

.navigation{
    color: black; 
    margin-top: 5px;
    padding-left: 0px;
}

.navigation li{
    display: inline-block;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    font-family: "Josefin Sans";
    box-shadow: inset 0 0 0 0 hsl(0, 100%, 35%);
    color: #000000;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
}

.navigation li:hover {
    box-shadow: inset 150px 0 0 0 hsl(0, 100%, 35%);
    color: white;
  }


/* Pizza Part */

.main-img{
    display: block;
    width: 87%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.intro-container{
    text-align: center;
}

.main-heading{
    font-family: "Source Serif Pro", sans-serif;
    font-weight: bold;
}

.pizza-tag{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 100%, 35%);
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: solid 3px;
    border-radius: 10px;
    font-family: "Josefin Sans";
}

h3{
    font-size: 2em;
    color: rgb(56, 56, 56);
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.container{
    display: flex;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
}

.ingredients{
    flex: 0 0 30%;
    text-align: center;
    margin-left: 20px;
    margin-top: 5px;
    background-color: hsl(8, 82%, 40%);
    color: white;
    box-shadow: -5px 5px 20px 1px #000000;
    
}

ul{
    list-style: none;
    padding: 0px;
}

footer{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: hsl(0, 0%, 65%);
    color: white;
    font-family: 'Roboto', sans-serif;
}

ol > li::marker {
    font-weight: bold;
    font-size: large;
}